In [1]:
import requests as req
from bs4 import BeautifulSoup
import glob
import numpy as np
import pandas as pd

In [2]:
file = open('../html_files/host_2.html')
soup = BeautifulSoup(file, 'html.parser')

In [3]:
soup.select_one('#cphBody_lblTaxonomy i').text.strip() # host name
symbionts = soup.select('#cphBody_dgHost tr i')
for symbiont in symbionts:
    print(symbiont.text.strip())

Parasaissetia nigra (Nietner)
Saissetia coffeae (Walker)
Pinnaspis strachani (Cooley)
Pseudaulacaspis pentagona (Targioni)
Earias biplaga (Walker)
Earias vittella (F.)

In [4]:
def get_data(hostid):
    data = []

    file = open('../html_files/host_' + str(hostid) + '.html')

    soup = BeautifulSoup(file, 'html.parser')
    # host name --------------------------------------------------------------------------------------
    host_name = soup.select_one('#cphBody_lblTaxonomy i').text.strip()

    # symbionts --------------------------------------------------------------------------------------
    symbionts = soup.select('#cphBody_dgHost tr i')
    for symbiont in symbionts:
        data.append([hostid, host_name, symbiont.text.strip()])

    return data

In [ ]:
no_hosts = 6160 # max = 6160; N.B. this takes almost 4 minutes

data = []

for hostid in range(1, no_hosts):
    data.extend(get_data(hostid))

df = pd.DataFrame(data, columns = ['hostid', 'host_name', 'symbiont_name'])

In [41]:
df

,hostid,host_name,symbiont_name
0,1,(not confirmed),Trigonophora flammea (Esper)
1,2,Abelmoschus esculentus,Parasaissetia nigra (Nietner)
2,2,Abelmoschus esculentus,Saissetia coffeae (Walker)
3,2,Abelmoschus esculentus,Pinnaspis strachani (Cooley)
4,2,Abelmoschus esculentus,Pseudaulacaspis pentagona (Targioni)
...,...,...,...
47735,6158,Zea mays,Sitotroga cerealella (Olivier)
47736,6158,Zea mays,Hymenia recurvalis (F.)
47737,6158,Zea mays,Cnephasia asseclana (Denis & Schiffermuller)
47738,6159,Ziziphus jujuba,Pinnaspis strachani (Cooley)
47739,6159,Ziziphus jujuba,Aonidiella aurantii (Maskell)

# Clean data

In [6]:
df.drop(hostid = "5330")

NameError: name 'df' is not defined

In [42]:
df.to_csv('../data/all_symbionts.csv', index=False)